.textError {
	font-size: 32px;
	font-weight: 600;
	color: rgb(0, 70, 162);
	text-align: center;
	margin: 40px 0 100px;
}

.errorNotice {
	width: 260px;
	min-height: 70px;
	transition-duration: 0.4s;
	background-color: rgb(70, 70, 70);
	border-radius: 18px;
	position: absolute;
	left: 25px;
	top: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	z-index: 100;
	h3 {
		color: red;
		font-size: 14px;
	}
}
