.textError {
  font-size: 32px;
  font-weight: 600;
  color: rgb(0, 70, 162);
  text-align: center;
  margin: 40px 0 100px;
}

.formTextError {
  font-size: 16px;
  color: red;
  text-align: center;
  margin-bottom: 6px;
}