.genderButtons {
	input[type="radio"] {
		display: none;
	}
	label {
		display: inline-block;
		cursor: pointer;
		padding: 0px 15px;
		line-height: 34px;
		border: 1px solid rgb(134, 134, 134);
		border-radius: 10px;
		user-select: none;
		text-transform: capitalize;
	}
	input[type="radio"]:checked + label {
		background: rgb(0,129,255);
		background: linear-gradient(220deg, rgba(0,129,255,1) 0%, rgba(14,43,60,1) 77%);
		color: aliceblue;
		font-weight: 500;
	}
	.genderButtonsItem {
		display: flex;
		justify-content: space-around;
		width: 100%;
		label {
			width: 60px;
			text-align: center;
		}
	}
}
