.nextBtn {
	height: 40px;
	max-width: 180px;
	min-width: 120px;
	border: none;
	border-radius: 12px;
	background: rgb(0, 153, 195);
	color: aliceblue;
	font-weight: 500;
}

.prevBtn {
	height: 40px;
	max-width: 180px;
	min-width: 120px;
	border: none;
	border-radius: 12px;
	background: rgb(222, 144, 0);
	color: aliceblue;
	font-weight: 500;
}

.submitBtn {
	height: 40px;
	max-width: 180px;
	min-width: 120px;
	border: none;
	border-radius: 12px;
	background: rgb(0, 70, 162);
	color: aliceblue;
	font-weight: 500;
}