.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	background: rgb(79, 77, 77, 0.7);
	.form {
		padding: 25px;
		background: rgb(219, 219, 219);
		border-radius: 16px;
		width: 260px;
		height: 380px;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		position: relative;
		.uploadImg {
			opacity: 0;
			width: 140px;
			height: 140px;
			overflow: hidden;
			position: absolute;
			top: 0;
			left: 60px;
			cursor: pointer;
		}
		.titleDescripton {
			font-weight: 500;
			text-align: center;
			line-height: 130%;
		}
	}
}

.formImg {
	width: 140px;
	height: 140px;
	margin: 0 auto 16px;
}

.modal.modalActive {
	display: flex;
	justify-content: center;
	align-items: center;
}

.signUpBtn {
	position: absolute;
	right: 10px;
	top: 10px;
	height: 47px;
	cursor: pointer;
}
