@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

h3,
h4,
p,
Link,
input,
label,
a {
	font-family: "Raleway", sans-serif;
	line-height: 120%;
	text-transform: capitalize;
	font-weight: 400;
	color: rgb(44, 44, 44);
}
