.header {
	width: 100%;
	min-height: 70px;
	background-color: rgb(0, 70, 162);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	.title {
		font-size: 32px;
		font-weight: 500;
		color: aliceblue;
	}
}
