.header {
	width: 100%;
	min-height: 70px;
	background: rgb(55,124,105);
	background: linear-gradient(270deg, rgba(55,124,105,1) 0%, rgba(18,17,14,1) 81%);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	.title {
		font-size: 32px;
		font-weight: 500;
	}
}
