.header {
	width: 100%;
	min-height: 70px;
	background: rgb(27,94,76);
	background: linear-gradient(220deg, rgba(27,94,76,1) 0%, rgba(21,60,56,1) 81%);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	.title {
		font-size: 32px;
		font-weight: 500;
	}
}
